<h1>Teachers List</h1>
<a asp-controller="Teachers" asp-action="Create" class="btn btn-primary mb-3">Create New Teacher</a>
<a asp-controller="Teachers" asp-action="List" class="btn btn-primary mb-3">All Teachers</a>
